<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Actualizar un nuevo Piloto</h2>
        </div>
    </div>

    <div class="row mb-2">
        <div class="form-group">
            <label for="">Código PA-</label>
            <input type="text" class="form-control" #codigoPiloto maxlength="4" placeholder="0000" />
            <span *ngIf="submitted && !codigoPiloto.value" class="text-danger">Codigo de avion es requerido</span>
        </div>

        <div class="form-group">
            <label for="">Nombre del Piloto completo</label>
            <input type="text" class="form-control" #nombreCompleto  placeholder="Nombre apellido" />
            <span *ngIf="submitted && !nombreCompleto.value" class="text-danger">Nombre de piloto es requerido</span>
        </div>
        <div class="form-group">
            <label for="">Seleciona el genero del piloto</label>
            <select class="form-control" #sexo>
                <option>-----Selecciona un genero-----</option>
                <option *ngFor="let item of tipo" value="{{ item }}">
                    {{ item }}
                </option>
            </select>
            <span *ngIf="submitted && !sexo.value" class="text-danger">Debes de seleccionar un genero de piloto es es
                requerido</span>
        </div>


        

        <div class="form-group mt-3">
            <button class="btn btn-info" (click)="guardar()">Guardar</button>
            <a class="btn m-1" [routerLink]="['/pilotos']">Volver</a>
        </div>
    </div>
</div>