<div class="container">
    <div class="card">
      <div class="card-header">
        Detalles del Piloto
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Código Piloto</th>
                <td>{{ data?.codigoPiloto }}</td>
              </tr>
              <tr>
                <th>Nombre Completo</th>
                <td>{{ data?.nombreCompleto }}</td>
              </tr>
              <tr>
                <th>Género</th>
                <td>{{ data?.sexo }}</td>
              </tr>
              <tr>
                <th>Horas de Vuelo</th>
                <td>{{ data?.horasVuelo }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-info" [routerLink]="['/pilotos']">Volver</a>
      </div>
    </div>
  </div>
  